<div class="mt-4">
    <h1>Portfolio</h1>
    <p>Lorem ipsum dolor sit amet. Cum alias quos et labore magnam At iusto blanditiis et repudiandae tenetur ea necessitatibus debitis a inventore amet qui vero vero. Cum dignissimos eaque nam laborum nemo id velit quod est deleniti quia ea adipisci quam.</p>
    <div class="d-flex justify-content-between">
        <div class="card mx-1 border-0">
            <img class="card-img-top" src="./assets/img/big-project-image.png" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
        </div>
        <div class="card mx-1 border-0">
            <img class="card-img-top" src="./assets/img/big-project-image.png" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
        </div>
        <div class="card mx-1 border-0">
            <img class="card-img-top" src="./assets/img/big-project-image.png" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
        </div>
    </div>
</div>