<div class="mt-4">
    <div class="d-flex row">
        <div class="col-3 mx-auto my-auto">
            <img src="./assets/img/2.jpg" width="200px" height="200px" alt="" style="border-radius: 50%;">
        </div>
        <div class="col-9">
            <div class="d-flex">
                <h1 class="text-dark">The second heading</h1><h1 class="text-secondary">Is pretty cool too</h1>
            </div>
            <p>Lorem ipsum dolor sit amet. Quo sunt ullam quo aperiam architecto est eaque rerum qui quaerat sunt sit saepe galisum et illo animi ex iusto voluptates. Est voluptate consequatur At consequuntur iure ut ipsum beatae vel nobis aperiam eos consequuntur sint.</p>
        </div>
    </div>
</div>